.selection {

text-align:center; 


}



.container {
padding:10%; 
display:grid; 
background-color:lightblue;
width:80%; 
grid-auto-flow:columns; 
justify-content: center;
margin: 10% auto;
}



.pixel{

border:1px solid black; 
width:50px;
height:50px;     
}



