.selection {

text-align:center; 


}



.container {
padding:10%; 
display:grid; 
background-color:lightblue;
width:80%; 
grid-auto-flow:columns; 
justify-content: center;
margin: 10% auto;
}



.pixel{

     
background-color:white;
}



.colored {

background-color: black;
}